@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
html,
body,
#root,
.app,
.content {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6ec2ae;
}

::-webkit-scrollbar-thumb:hover {
  background: #4e8b7d;
}
